@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 100% 95%;
    --foreground: 221 5% 0%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 10%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 0%;
    --primary: 221 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 19.3% 34.5%;
    --secondary-foreground: 0 0% 100%;
    --success: 142 76.2% 36.3%;
    --success-foreground: 0 0% 100%;
    --warning: 41 96.1% 40.4%;
    --warning-foreground: 0 0% 100%;
    --danger: 0 72.2% 50.6%;
    --danger-foreground: 0 0% 100%;
    --muted: 183 30% 85%;
    --muted-foreground: 221 5% 35%;
    --accent: 183 30% 80%;
    --accent-foreground: 221 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 50%;
    --input: 221 30% 18%;
    --ring: 221 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 224 50% 5%;
    --foreground: 224 5% 90%;
    --card: 224 50% 0%;
    --card-foreground: 224 5% 90%;
    --popover: 224 50% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: 224 76.3% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 25% 26.7%;
    --secondary-foreground: 0 0% 100%;
    --success: 142 71.8% 29.2%;
    --success-foreground: 0 0% 100%;
    --warning: 35 91.7% 32.9%;
    --warning-foreground: 0 0% 100%;
    --danger: 0 73.7% 41.8%;
    --danger-foreground: 0 0% 100%;
    --muted: 186 30% 15%;
    --muted-foreground: 224 5% 60%;
    --accent: 186 30% 15%;
    --accent-foreground: 224 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 18%;
    --input: 224 30% 18%;
    --ring: 224 76.3% 48%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
